<div ng-include="'partials/navbar'"></div>

<div id="interzone-bootstrap-growl"></div>

<!--
<div>
	<ul ng-repeat="bleep in interZone.bleeps">
		<li> {{bleep.location}}</li>
	</ul>
</div>
-->

<div class="row" ng-show="interZone._id">
	<span ng-class="{true:'glyphicon glyphicon-chevron-right min-max', false:'glyphicon glyphicon-chevron-down min-max'}[minimized]" tooltip="{{minimizeToolTip()}}" ng-click="minMax()"></span>
</div>

<div id="interzones" ng-class="collapseClass('row')">
	<div class="well col-md-12">
		<div class="col-md-4">
			<select id="interzones-select" class="form-control" ng-model="interZone" ng-change="interZoneSelected()" ng-options="interzone.name for interzone in interZoneData.interZones">
			</select>
		</div> 

		<div class="col-md-2">
			<span class="space-md-1">Or</span>
			<button type="button" class="btn btn-primary" ng-click="createInterZone()" ng-disabled="newInterZone">
		  		<span class="glyphicon glyphicon-plus"></span> New
			</button>
		</div>

		<div class="col-md-4">
			<span class="space-md-1">Or</span>
			<button type="button" class="btn btn-success" ng-click="selectDefaultZone()">
		  		<span class="fa fa-star"></span> Favorite
			</button>
		</div>
	</div>
</div>

<div id="interzone-loc" class="row" ng-show="newInterZone">
	<div class="col-lg-6">
    	<div class="input-group">
    		<input id="interzone-addr-input" type="text" ng-autocomplete="" ng-model="autocomplete" options="options" details="details" class="form-control">
    		<span class="input-group-btn">
        		<button type="button" class="btn btn-success">
					<span class="glyphicon glyphicon-map-marker"></span> Map It
				</button>
      		</span>
      	</div>
  	</div>
</div>

<div ng-if="interZoneEditInfo && interZone.loc">
	<div id="interzone-name" class="row">
		<div class="col-lg-7">
			<h4>
				<span id="iz-fav" tooltip="{{favoriteToolTip()}}" ng-class="{true:'fa fa-star', false:'fa fa-star-o'}[interZone.default_zone]" ng-click="changeFavorite()"></span>
				<a href="#" editable-text="interZone.name" onbeforesave="checkName($data)">
				{{ interZone.name || 'Enter InterZone Name' }}
				</a>
			</h4>
		</div>

		<div id="beacon-search" ng-show="interZoneView" class="col-lg-5">
			<h4>
				<form ng-submit="beaconSearch(beaconSearchName)">
					<input type="text" placeholder="Beacon Search" class="form-control" ng-model="beaconSearchName">
				</form>
			</h4>
		</div>
	</div>
	<div id="interzone-editor-buttons" ng-class="collapseClass('row')">
		<div class="col-lg-6">
			<button type="submit" class="btn btn-default btn-sm interzone-editor-button" ng-click="saveInterZone()">
		  		<span class="glyphicon glyphicon-save"></span> Save
			</button>

			<button type="button" class="btn btn-default btn-sm interzone-editor-button" ng-click="editInterZone()" ng-hide="interZoneEdit">
		  		<span class="glyphicon glyphicon-edit"></span> Edit
			</button>

			<button type="button" class="btn btn-default btn-sm interzone-editor-button" ng-click="clearInterZone()" ng-show="interZoneEdit">
		  		<span class="fa fa-undo"></span> Undo
			</button>

			<button type="button" class="btn btn-default btn-sm interzone-editor-button" ng-click="showMap=true" ng-show="interZoneEdit && !showMap">
		  		<span class="icomoon icon-map"></span> Show Map
			</button>

			<button type="button" class="btn btn-default btn-sm interzone-editor-button" ng-click="showMap=false" ng-show="interZoneEdit && showMap">
		  		<span class="icomoon icon-map-2"></span> Hide Map
			</button>

			<button type="button" class="btn btn-default btn-sm interzone-editor-button" ng-click="cancelEdit()" ng-show="interZoneEdit && showMap">
		  		<span class="icomoon icon-cancel-circle"></span> Cancel
			</button>

			<span id="bleeps-select" class="dropdown" ng-show="interZoneView">
			  <a role="button" data-toggle="dropdown" href="#">Add Bleep <b class="caret"></b></a>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			    <li ng-repeat="bleep in bleepData.bleeps">
			      <a ng-click="addBleep(bleep)" class="bleep-list-item">{{bleep.name}}</a>
			    </li>
			  </ul>
			</span>
		</div>
	</div>
	<div ng-class="collapseClass('row')" ng-show="interZoneView">
		<div class="col-lg-12">
			<span class="interzone-info-label">lat: </span>
			<span class="interzone-info">{{interZone.loc.latitude}}</span>
			<span class="interzone-info-label">lon: </span>
			<span class="interzone-info">{{interZone.loc.longitude}}</span>
			<span class="interzone-info-label">angle:</span> 
			<span class="interzone-info">{{interZone.angle}}</span>
			<span class="interzone-info-label">pan:</span>
			<span class="interzone-info">{{interZone.pan}}</span> 
			<span class="interzone-info-label">zoom:</span>
			<span class="interzone-info">{{interZone.zoom}}</span>
		</div>
	</div>
	<div ng-class="collapseClass('row')" ng-show="debug">
		<div class="col-lg-8">
			<span class="interzone-info">Debug:</span> 
			<span class="interzone-info-label">showMap:</span> 
			<span class="interzone-info">{{showMap}}</span>
			<span class="interzone-info-label">interZoneView:</span> 
			<span class="interzone-info">{{interZoneView}}</span>
			<span class="interzone-info-label">interZone.dirty:</span> 
			<span class="interzone-info">{{interZone.dirty}}</span>
		</div>
	</div>
	<div class="row">	
		<google-map id="interzone-map" center="interZone.loc" zoom="map.zoom" draggable="true" dragging-cursor="hand" options="map.options" ng-show="showMap" control="mapControl">
		</google-map>
		<interzone-editor width="interZoneWidth" height="interZoneHeight" points="interZone.points" class="row" ng-show="interZoneEdit" control="interZoneEditorControl">
		</interzone-editor>
	</div>
	<div id="interzone-view" class="row" ng-show="interZoneView">	
		<interzone-drag-zoom width="interZoneWidth" height="interZoneHeight" points="interZonePoints" angle="interZone.angle" pan="interZone.pan" zoom="interZone.zoom" control="interZoneControl" bleeps="interZone.bleeps"></interzone-drag-zoom>
	</div>
	<div class="rotate-slider" ng-show="interZoneView">
		<bootstrap-slider model="interZone.angle" type="text" value="" data-slider-min="0" data-slider-max="360" data-slider-step="1" bootstrap-slider-value="{{angle}}" data-slider-orientation="vertical" data-slider-selection="after" data-slider-tooltip="show" handle="square"></bootstrap-slider>
	</div>
	<div id="interzone-debug" class="row">
		<div ng-show="interZoneEdit">
			{{interZone.points}}
		</div>
	<div>
</div></div></div>