<div class="header" ng-controller="NavbarCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
    <li ng-show="adminUser" ng-class="{active: isActive('/adduser')}"><a href="/adduser">Add User</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('/interzone')}"><a href="/interzone">Inter.'.Zones</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
  </ul>
  <h3 class="text-muted">Inter.'.Drome</h3>
</div>