.modal-step {
	font-size: 14pt;
	font-weight: bold;
}

.modal-error {
	margin: 0px 0px 0px 0px;
}

.modal-lights {
	margin: 10px 0px 0px 0px;
}

#hue-bridge-modal-lights-content div.modal-header span {
	font-weight: bold;
}

.modal-header {
	font-weight: bold;
}

.modal-header input {
	color: black;
}

.modal-header span {
	font-size: 14pt;
}