#I {
	float: left;
}

#D {
	float: left;
}

#login-sec {
	float: left; 
	width: 400px; 
	margin: 0px 25px 0px 25px;
}

#dot-top {
	float: left; 
	clear: right; 
	width: 100%; 
	text-align: center;
}

#login-form {
	float: left; 
	clear: left; 
	width: 100%; 
	margin: 40px 0px 55px 0px;
	height: 212px;
}

#dot-bottom-left {
	float: left; 
	clear: left;
	width: 50%; 
	text-align: left;
}

#dot-bottom-right {
	float: left; 
	clear: right; 
	width: 50%; 
	text-align: right;
}

#login-error {
	color: white;
	font-weight: bold;
}