$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@import '/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css';

@import 'login';
@import 'interzone';
@import 'control';
@import 'bleep';
@import 'notification';
@import 'floor-plan';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.panel-heading {
    font-size: 14pt;
    font-weight: bold;
}

#add-bleep {
    margin-bottom: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1024px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Color Overrides. Change if using a different Theme. */

select {
    color: black !important;
}

a.editable-click {
    color: white !important;
}

a.editable-empty {
    font-weight: bold !important;
    color: #df691a !important;
}

.min-max {
    color: #df691a;
}
.min-max:hover {
        cursor: pointer;
}

.dropdown a {
    color: white;
    font-size: 13px;
}
.dropdown a:hover {
    color: white;
    font-size: 13px;
}

.dragging, .dragging *,
.zooming, .zooming * {
    cursor: move !important;
    -webkit-touch-callout: none !important;
      -webkit-user-select: none !important;
       -khtml-user-select: none !important;
         -moz-user-select: none !important;
          -ms-user-select: none !important;
              user-select: none !important;
}

.popover {
    background-color: #333940 !important;
}

.popover.bottom>.arrow:after {
    border-bottom-color: #333940 !important;
}

.popover.right>.arrow:after {
    border-right-color: #333940 !important;
}